.container{
    border: 2px solid black;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.item{
    width: 100px;
    height: 100px;
    background: grey;
}

.item-1{
    align-self: flex-start;
    flex-grow: 2;
}
.item-3{
    align-self: flex-end;
    flex-grow: 4;
}